
{{>header}}
<table class="table table-stripped">
    <thead>
        {{!-- <th>id</th> --}}
        <th>name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Satatus</th>
        <th>Transaction</th>
        {{!-- <th>died Line</th> --}}
        <th>actions</th>
    </thead>
    <tbody>
        {{#if hasUsers}}
        {{#each users}}
        <tr class=" fs-6">
            {{!-- <td>{{this._id}}</td> --}}
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.age}}</td>
            <td>{{this.status}}</td>
            <td>{{this.tran}}</td>
            {{!-- <td>{{this.createdAt}}</td> --}}
            <td>
                <a href="/tran/{{this._id}}" class="btn btn-primary fs-6">Transacation</a>
                <a href="/singl/{{this._id}}" class="btn btn-primary fs-6">Show</a>
                <a href="/edit/{{this._id}}" class="btn btn-warning">Edit</a>
                <a href="/delete/{{this._id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr class="alert alert-danger w-100">
            <td colspan="3">No Users yet</td>
        </tr>
        {{/if}}
    </tbody>
</table>
{{>footer}}